@import "_common";
@mixin flex {
  display: flex;
  justify-content:space-between;
  align-items:center;
}
@mixin margin {
  margin: 20px 65px;
}

header {
  @include flex;
  @include margin;
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
  .menu {
    @include flex;
    font-size: 14px;
    font-weight: 600;
    ul{
      @include flex;
      list-style: none;
      color: #58402c;
      li {
        padding-left: 40px;
        @include flex;
      }
    }
    button {
      margin-left: 40px;
      border: 1px solid #30488f;
      color: #30488f;
      border-radius: 10px;
      font-size: 13px;
      font-weight: 600;
      padding: 8px 10px;
      @include flex;

      img {
        width: 25px;
        padding-right: 8px;
      }
    }
  }
}

.understand {
  @include flex;
  @include margin;
  margin-top: 100px;
  margin-bottom: 130px;

  .sx {
    width: 45%;
    h1 {
      font-size: 50px;
      color: #58402c;
      margin-bottom: 30px;
    }
  h3 {
      font-size: 22px;
      margin-bottom: 40px;
      color: #58402c;
    }
  .bottoni {
    @include flex;
    padding-right: 110px;
    button {
      @include flex;
      color: white;
      font-size: 14px;
      background-color: #30488f;
      padding: 8px 15px;
      border-radius: 10px;

      img {
        width: 25px;
        padding-right: 8px;
      }
    }
  }
  a {
    display: block;
    text-decoration: none;
    color: #58402c;
    padding-top: 20px;
    i{
      font-size: 12px;
    }
  }
  }
  .dx {
    width: 45%;
    img {
      width: 100%;
    }
  }
}


  .traditional {
    padding: 100px 200px;
    background: #ffe7d2;
    h2 {
      font-size: 26px;
      padding: 0px 130px;
      text-align: center;
      color: #58402c;
    }
    .imm {
      @include flex;
      justify-content:space-around;
      padding-top: 80px;
      img {
        padding: 0 70px;
        height: 110px;
      }
      span {
        display: block;
        font-size: 20px;
        text-align: center;
        padding: 30px 40px;
        color: #58402c;
      }
    }
    .img {
      padding-top: 90px;
      text-align: center;
      img {
        max-width: 280px;
      }
    }
  }
