@import "_common";
@mixin flex {
  display: flex;
  justify-content:space-between;
  align-items:center;
}
@mixin margin {
  margin: 20px 65px;
}
@mixin h3 {
  font-size: 22px;
  color: #58402c;
  margin-bottom: 40px;
}

@mixin link {
  color: #30488F;
  text-decoration: none;
  font-size: 22px;
}

header {
  @include flex;
  @include margin;
  border-bottom: 1px solid grey;
  padding-bottom: 15px;

  .menu {
    @include flex;
    font-size: 14px;
    font-weight: 600;
    ul{
      @include flex;
      list-style: none;
      color: #58402c;
      li {
        padding-left: 40px;
        @include flex;
      }
    }
    button {
      margin-left: 40px;
      border: 1px solid #30488f;
      color: #30488f;
      border-radius: 10px;
      font-size: 13px;
      font-weight: 600;
      padding: 8px 10px;
      @include flex;

      img {
        width: 25px;
        padding-right: 8px;
      }
    }
  }
}

.understand {
  @include flex;
  @include margin;
  margin-top: 100px;
  margin-bottom: 130px;

  .sx {
    width: 45%;
    h1 {
      font-size: 50px;
      color: #58402c;
      margin-bottom: 30px;
    }
    h3 {
      @include h3;
    }
  .bottoni {
    @include flex;
    padding-right: 110px;
    button {
      @include flex;
      color: white;
      font-size: 14px;
      background-color: #30488f;
      padding: 8px 15px;
      border-radius: 10px;

      img {
        width: 25px;
        padding-right: 8px;
      }
    }
  }
  a {
    display: block;
    text-decoration: none;
    color: #58402c;
    padding-top: 20px;
    i{
      font-size: 12px;
    }
  }
  }
  .dx {
    width: 45%;
    img {
      width: 100%;
    }
  }
}


.traditional, .teambit {
  padding: 40px 200px;
  background: #ffe7d2;
  h2 {
    font-size: 26px;
    padding: 50px 130px;
    text-align: center;
    color: #58402c;
  }
  .imm {
    @include flex;
    justify-content:space-around;
    padding-top: 30px;
    img {
      padding: 0 70px;
      height: 110px;
    }
    span {
      display: block;
      font-size: 20px;
      text-align: center;
      padding: 30px 40px;
      color: #58402c;
    }
  }
  .img {
    padding: 50px 0;
    text-align: center;
    img {
      max-width: 280px;
    }
  }
}

.feedback {
  display: flex;
  margin-top: 120px;
  .sx {
    width: 50%;
    margin-right: 10px;
    img {
      max-width: 780px;
      float: right;
    }
  }
  .dx {
    margin-left: 10px;
    margin-right: 210px;
    h2 {
      font-size: 26px;
      color: #58402c;
      padding-bottom: 30px;
    }
    p {
      @include h3;
    }
    a {
      @include link;
    }
    img {
      width: 100%;
      padding-top: 40px;
      padding-left: 100px;
    }
  }
}
